.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: bold;
  color: green;
}

.tip span {
  color: #ecfa00;
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border: 20px solid #ecfa00;
  display: flex;
}

.letter,
.blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.letterContainer p {
  text-transform: uppercase;
  font-weight: bold;
}
.letterContainer p span {
  color: green;
}
.letterContainer form {
  margin-bottom: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letterContainer button {
  margin-left: 15px;
  background-color: #404040;
  height: fit-content;
}
.letterContainer button:hover {
  background-color: rgb(14, 115, 14);
  transition: 0.5s;
}
.letterContainer input {
  height: 50px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.wrongLettersContainer {
  border: 3px solid red;
  padding-bottom: 10px;
}
.wrongLettersContainer p {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}
.wrongLettersContainer span {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}
